body {
  font-family: 'Poppins', sans-serif;
}



.back_color {
  background-color: #fcc302;
}

/* block-1 */

.b1_container {
  padding: 5% 0;
}


.back_nav {
  background-color: #daac00;
  transition: top 0.3s;
}

.nav_link {
  font-size: 28px;
  transition: color .2s linear;
}

.nav_link:hover{
  color: #333333 !important;
}

.button_search {
  background-color: #00bec9;
  margin-left: -7px;
}

.input_search {
  background-color: #fcc302;
}

.b1_title_text h1 {
  color: #ffffff;
  font-size: 64px;
  line-height: 1;
}

.b1_text {
  color: #ffffff;
  font-size: 28px;
  font-weight: 300;
}

.b1_button_1 {
  border-radius: 7px;
  background-color: #00bec9;
  font-size: 20px;
  font-weight: 400;
  width: 150px;
  
  padding: 17px;
  transition: all .2s linear;
}

.b1_button_1 a {
  color: #ffffff;
  text-decoration: none;
  width: 114px;
  height: 17px;
  transition: all .2s linear;
}

.b1_button_1:hover {
  box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.73);

}

.b1_button_1:hover> a {
  color: #333333 !important;
}

.b1_button_2 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.21px; 
  border-radius: 7px;
  border: 3px solid #ffffff;
  width: 150px;
  height: 67px;
  padding: 14px;
  transition: all .2s linear;
}

.b1_button_2 a {
  color: #ffffff;
  text-decoration: none;
  transition: all .2s linear;
}

.b1_button_2:hover {
  border: 3px solid #333333;
}

.b1_button_2:hover>a {
  color: #333333 !important;
}


/* block-2 */

.b2_container {
  padding: 10% 0;
  
}

.img {
  width: 100%;
}

.b2_title_text h3{
  color: black;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
}

.b2_text {
  color: black;
  font-size: 28px;
  font-weight: 400;
}

.b2_button {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.21px; 
  border-radius: 7px;
  background-color: #fcc302;
  width: 150px;
  padding: 14px;
  transition: all .2s linear;
  text-align: center;
}

.b2_button a {
  color: #ffffff;
  text-decoration: none;
  transition: all .2s linear;
}

.b2_button:hover {
  box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.73);
}

.b2_button:hover>a {
  color: #333333 !important;
}

.b2_video {
  position: relative;
  z-index: 2;
  background-color: black;
  display: block;
}

.b2_back {
  position: absolute;
  z-index: 1;
  top: 295px;
  left: 40px;
}

/* block 3 */

.b3_container {
  padding: 5% 0;
}

.b3_title {
  font-size: 72px;
  padding-bottom: 45px;
}

.b3_text {
  font-size: 32px;
  padding-bottom: 94px;
}

.b3_card img {
  border: 6px solid #ffffff;
  margin-bottom: 45px;
  transition: all .2s linear;
}

.b3_card h3 {
  font-size: 36px;
  font-weight: 600;
}

.b3_card p {
  font-size: 24px;
  font-weight: 300;
}

.image:hover {
  transform: scale(1.05);
  box-shadow: 0 13px 48px rgba(0, 0, 0, 0.2);
}

/* .img {
  width: 100%;
} */

/* block 4  */

.b4_back {
  position: absolute;
  z-index: 1;
  top: 295px;
  right: 40px;
}

.b4_text {
  margin-top: 75px;
}

/* block 5 */

.b5_text {
  text-decoration: line-through;
}

.b5_button {
  border-radius: 29px;
  background-color: #00bec9;
  font-size: 24px;
  font-weight: 400;
  width: 191px;
  height: 58px;
  padding: 10px;
  margin-top: 26px;
  transition: all .2s linear;
}

.b5_button a {
  color: #ffffff;
  text-decoration: none;
  width: 114px;
  height: 17px;
  transition: all .2s linear;
}

.b5_button:hover {
  box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.73);
}

.b5_button:hover>a {
  color: #333333 !important;
}

/* block 6 */

.b6_card img {
  transition: all .2s linear;
}

.b6_card h3 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 35px;
  
}

.b6_card p {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.b6_icon a {
  color: #fcc302;
  font-size: 30px;
  transition: all .2s linear;
}

.b6_icon_t:hover {
  color:  #00bec9 !important;
}

.b6_icon_f:hover {
  color:  #00bec9 !important;
}

.b6_icon_i:hover {
  color:  #ff00aa !important;
}

.b6_icon_w:hover {
  color:  #00a516 !important;
}

/* block 7 */

.b7_back {
  background-image: url(../img/b7_back.png);
  background-size: cover;
  height: 552px;
}

.b7_card {
  padding: 157px 0;
}

.b7_card p {
  padding-top: 55px;
  font-size: 40px;
  font-weight: 500;
}

.b7_card h3 {
  font-size: 36px;
  font-weight: 700;
}

/* block 8 */

.b8_card {
  border: 2px solid #d6d6d6;
  transition: all .2s linear;
}

.b8_card:hover {
  transform: scale(1.05);
  box-shadow: 0 13px 48px rgba(0, 0, 0, 0.2);
}


/* .b8_read_More {
  padding: 5px;
  color: #fcc302;
  border: 2px solid #fcc302;
  text-decoration: none !important;
  transition: all .2s linear;
}

.b8_read_More:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
} */

/* footer */

.back_footer {
  background-color: #343434;
}

.f_text a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 200;
  transition: all .2s linear;
}

.f_text a:hover {
  color: #fcc302 !important;
}

.f_text_3 {
  font-size: 36px;
  font-weight: 600;
}

.f_text_p {
  font-size: 24px;
  font-weight: 200;
}

#f_send {
  color: #ffffff;
  text-decoration: none;
  border-radius: 29px;
  background-color:  #00bec9;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  width: 191px;
  height: 58px;
  padding: 13px;
  margin: 30px auto;
  text-align: center;
}

.f_search {
  background-color: #fcc302;
  width: 370px;
  height: 87px;
}

.f_button {
  background-color: #00bec9;
  width: 138px;
  height: 87px;
}

.f_button i {
  color: #ffffff;
  font-size: 30px;
}

.f_icon a {
  color: #ffffff;
  font-size: 46px;
  transition: all .2s linear;
}

.f_author a {
  font-weight: 200;
  color: #ffffff;
  text-decoration: none;
  transition: all .2s linear;
}

.f_author a:hover {
  color:#fcc302 !important;
}